/.config/obsidian
/.config/obsidian
*.log
/.config/GitHub Desktop/Cache
/.config/GitHub Desktop/Cache
/.config/GitHub Desktop/Cache
/.config/GitHub Desktop/DawnGraphiteCache
/.config/GitHub Desktop/GPUCache
/.config/GitHub Desktop
.config/GitHub Desktop
.config/GitHub Desktop
