* {
    main-bg:            #050402B3;
    main-fg:            #FFEECCE6;
    main-br:            #959193E6;
    main-ex:            #4D484BE6;
    select-bg:          #F0AAAA80;
    select-fg:          #522929E6;
}
